<h1 class="mt-4">My Profile</h1>
<p class="lead mb-3 mt-4 font-weight-bold">Welcome <%=name%></p>
<div>
  <p>Here is your profile page it doesnt do much but yeah...</p>
  <a href="http://localhost:8080/">View Posts</a>
</div>
<a href="/users/logout" class="btn btn-secondary mt-3">Logout</a>
